@import '../../styles/variables.scss';

.image-button-container {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border-radius: $image-border-radius;
  
  .image-button {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top-left-radius: $image-border-radius;
    border-top-right-radius: $image-border-radius;

    img, .skeleton-img{
        width: 100%;
        object-fit: cover;
    }
  }
  .content-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    text-align: center;

    a{
      font-size: 14px;
    }
  }
}
