.footer-container{
    padding: 3rem 0rem 1rem 0rem;
    background-color: #004274;
    .footer-row{
        display: flex;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;

        .footer-element-container{
            width: 50%;
        }
        .footer-lang-container{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            .lang-item{
                color: #fff;
                padding: 0rem 0.65rem;
    
                a, button{
                    color: #fff;
                    font-weight: 600;
    
                    &.Mui-disabled{
                        color: #bfbfbf;
                        font-weight: 300;
                    }
                }
            }
        }   
    }
}