@import '../styles/variables.scss';

$header-height: 4rem;

.header-container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  transition: background-color 0.25s ease-in;
  z-index: 999;

  &:hover {
    background-color: #fff;
    // background-color: rgba(255,255,255,0.85);
  }

  .header-menu-container {
    display: flex;
    align-items: center;
    height: $header-height;

    .header-icon {
      padding: 0rem 1rem;
      height: 100%;
    }

    .header-menu {
      display: flex;
      align-items: center;
      padding: 0rem 1rem;
      height: 100%;

      ul {
        display: flex;
        align-items: center;
        height: 100%;
      }

      li {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0rem 2rem;
        height: 100%;
        color: #fff;

        transition: all 0.25s ease-in;
        webkit-transition: all 0.25s ease-in;
        -moz-transition: all 0.25s ease-in;
        -ms-transition: all 0.25s ease-in;
        -o-transition: all 0.25s ease-in;

        &:hover {
          color: #000;
          .header-menu-dropdown .menu-drop-down-item-container {
            height: auto;
            opacity: 1;
          }
        }

        .header-menu-dropdown {
          position: absolute;
          width: 100%;
          top: 4rem;
          left: 0px;
          background-color: #fff;
          overflow: hidden;

          .menu-drop-down-item-container {
            opacity: 0;
          }
        }
      }
    }

    .menu-drop-down-item-container {
      height: 0;
    }
  }
}
