@import '../styles/variables.scss';


.header-container{
    display: flex;
    max-width: $lg-screen-width;
    width: 100%;
    margin: 0 auto;
    align-items: center;

    .header-icon{
        padding: 0rem 1rem;
    }

    .header-menu{
        padding: 0rem 2rem;

        li{
            list-style: none;

            .header-menu-dropdown{
                display: none;
                position: absolute;
                width: 100%;
                left: 0px;
                background-color: #fff;
                top: 4rem;
                min-height: 5rem;

                &:hover{
                    display: block;
                }
            }

            &:hover{
                border-bottom: 1px solid #2d2d2d;

                .header-menu-dropdown{
                    display: block;
                }
            }
        }
    }
}